@using DevExpress.Blazor
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@inject IFileVersionProvider FileVersionProvider

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link href=@AppendVersion("_content/DevExpress.Blazor.Themes/blazing-dark.bs5.min.css") rel="stylesheet" />
    @DxResourceManager.RegisterScripts()
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="Webapp.styles.css"/>
    <link rel="stylesheet" href=@AppendVersion("_content/DevExpress.Blazor.Reporting.Viewer/css/dx-blazor-reporting-components.css")>
    <link href=@AppendVersion("_content/DevExpress.Blazor.RichEdit/dx-blazor-richedit.css") rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="_content/Blazor.Bootstrap/blazor.bootstrap.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/images/seti_logo.png"/>
    <RadzenTheme Theme="dark" Wcag="true" @rendermode="@InteractiveServer"/>
    @*<RadzenTheme Theme="humanistic-dark" Wcag="true" @rendermode="@InteractiveServer"/>*@
    @*<RadzenTheme Theme="standard-dark" Wcag="true" @rendermode="@InteractiveServer"/>*@
    <HeadOutlet @rendermode="InteractiveServer"/>
    <title>Purchase Request System</title>
</head>

<body>
    <Routes @rendermode="InteractiveServer"/>
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="_content/Blazor.Bootstrap/blazor.bootstrap.js"></script>
</body>
</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; }

    [Inject]
    private ThemeService ThemeService { get; set; }
    
    private string AppendVersion(string path) => FileVersionProvider.AddFileVersionToPath("/", path);
    
    protected override void OnInitialized() {
        base.OnInitialized();
        if (HttpContext != null) {
            var theme = HttpContext.Request.Cookies["app-theme"];
            /*var wcag = HttpContext.Request.Cookies["app-wcag"];*/
            if (!string.IsNullOrEmpty(theme)) {
                ThemeService.SetTheme(theme, false);
            }
            /*if(!string.IsNullOrEmpty(wcag)) {
                ThemeService.SetWcag(Convert.ToBoolean(wcag));
            }*/
        }
    }

}
