<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github" value="https://nuget.pkg.github.com/Sensor-Electronic-Technology/index.json" />
        <add key="DevExpress" value="https://nuget.devexpress.com/s9tGFLxkmfYqDgpN3JaEZGhbgiMBOpjiUIHEUMSgA1ZhO8pRxC/api/v3/index.json" />
    </packageSources>
    
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" /> 
        </packageSource>
        <packageSource key="DevExpress">
            <!-- Replace 'YourCompany' with your actual GitHub organization or package prefix -->
            <package pattern="DevExpress.*" />
        </packageSource>
    </packageSourceMapping>

</configuration>